nav{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: bisque;
    box-shadow: azure;
}

nav a{
    text-decoration: none;
    font-size: large;
    padding: 2rem;
    margin: 1rem;
 
}